@mixin clearfix {            //Height of the row is 0px, because the childs of this row(parent) are floated and the height is collapsed. to fix that, we use this code clearfix::after the floats 
    &::after {
        content: "";
        clear: both;
        display: table;
    } 
}
@mixin absCenter {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}