@mixin clearfix {            //Height of the row is 0px, because the childs of this row(parent) are floated and the height is collapsed. to fix that, we use this code clearfix::after the floats 
    &::after {
        content: "";
        clear: both;
        display: table;
    } 
}
@mixin absCenter {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
//Media Query Menager
/*
0 - 600px:  Phone
600px - 900px: Tablet portrait...max-width
900px - 1200px: Tablet landscape....max-width
[1200px - 1800px] is where our normal styles are applied (for Descktop) 
1800 - + : Bog Descktop ...min-width
*/

// @mixin respond-phone {
//     @media (max-width:600px) { @content };
// }
/* 
$breakpoint argument choises:
-phone
-tab-port
-tab-land
-big-desktop

Order for the media queries: Base + typography > general layout + grid > page layout > components
1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width:37.5em) { @content }; //600px/16px=37.5em
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width:56.25em) { @content };      //900px/16px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width:75em) { @content };     //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width:112.5em) { @content };  //1800px
    }
}


