.header {
    height: 95vh; /* 95% of the viewport height, (allmost 100% of the viewport height) */
    background-image: linear-gradient(to right bottom,    /*we have 2 backgr-images, linear-grad() and hero. first is linear-gradient(direction, start rgba-opacity 0.7, finish rgba-opacity 0.7) and the secont image is the hero image*/
    rgba($color-primary-light, 0.7),
    rgba($color-primary-dark, 0.7)),
    url(../img/hero.jpg);    /*with ".." we go 2 levels down right into the project folder */
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    &__logo-box {
        position: absolute;
       top: 4rem;
       left: 4rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      }
    &__logo {
        height: 3.5rem;
      }
    
  
    /*za pozicioniranje na naslovite vo centar, moze i so flex vaka:
    display:flex;
    align-items:center;
    justify-content: center;
    */
}