.btn {
    &,
    &:link,
    &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    /* position: relative;
    left:50%;
    transform: translate(-50%); */
      // changes for the button element
     border: none;
     cursor: pointer; 
    }
        &:hover {
        transform: translateY(-0.3rem);
      }
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      }
    &--white {
        background-color:$color-white;
        color: $color-gray-dark;
      }
    &--green {
      background-color: $color-primary-dark;
      color: $color-white
    }
  }

  .btn-text {
    &:link,
    &:visited {
      font-size: default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all .2s;
    }
    &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
    }
    &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black, .15);
      transform: translateY(0);
    }
  }
  
